 .loader {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 30em;
 }

 .loader>span {
   display: inline-block;
   width: 100%;
   height: 8em;
   margin-left: auto;
   margin-right: auto;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   animation: example 0.5s infinite alternate;
 }

 @keyframes example {
  0%   {background-image: url("../img/animacja_cewka.png")}
  55%  {background-image: url("../img/animacja_cewka2.png")}
  100% {background-image: url("../img/animacja_cewka3.png")}
 }